## Imports & Setup

In [1]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 50)

## Raw files from the Data Mart

In [3]:
file1 = "2014_2016_student_success_services.csv"
file2 = "2017_2020_student_success_services.csv"
file3 = "2021_2025_student_success_services.csv"

df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)
df3 = pd.read_csv(file3)

## Inspect the First Few Rows

In [4]:
df1.head(10)

,Unnamed: 0,Unnamed: 1,Summer 2014,Summer 2014.1,Summer 2014.2,Summer 2014.3,Fall 2014,Fall 2014.1,Fall 2014.2,Fall 2014.3,Spring 2015,Spring 2015.1,Spring 2015.2,Spring 2015.3,Summer 2015,Summer 2015.1,Summer 2015.2,Summer 2015.3,Fall 2015,Fall 2015.1,Fall 2015.2,Fall 2015.3,Spring 2016,Spring 2016.1,Spring 2016.2,Spring 2016.3,Summer 2016,Summer 2016.1,Summer 2016.2,Summer 2016.3,Fall 2016,Fall 2016.1,Fall 2016.2,Fall 2016.3
0,NaN,NaN,Directed,Directed,Exempted,Exempted,Directed,Directed,Exempted,Exempted,Directed,Directed,Exempted,Exempted,Directed,Directed,Exempted,Exempted,Directed,Directed,Exempted,Exempted,Directed,Directed,Exempted,Exempted,Directed,Directed,Exempted,Exempted,Directed,Directed,Exempted,Exempted
1,NaN,NaN,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received
2,San Francisco CCD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Credit - Academic/Progress Probation Services ...,9,NaN,NaN,NaN,16,NaN,NaN,NaN,152,NaN,NaN,NaN,71,NaN,NaN,NaN,176,NaN,NaN,NaN,102,NaN,NaN,NaN,29,NaN,NaN,NaN,12,NaN,NaN,NaN
4,NaN,Credit - Counseling/Advisement Services ...,"1,659","8,312",0,0,"5,973","53,990",0,0,"7,908","49,810",0,0,"3,453","14,638",0,0,"13,047","46,747",0,0,"11,637","45,932",0,0,"5,462","19,613",0,0,"5,348","38,815",0,0
5,NaN,Credit - Education Plan Services ...,"1,534","8,437",0,0,"3,860","56,103",0,0,"6,025","51,693",0,0,"2,787","15,304",0,0,"9,097","50,697",0,0,"8,405","49,164",0,0,"4,623","20,452",0,0,"2,013","42,150",0,0
6,NaN,Credit - Initial Assessment Services Placement...,784,"8,233",49,905,"3,858","52,675",116,"3,314","3,088","51,254",114,"3,262","1,006","16,245",31,809,"4,529","52,121",106,"3,038","4,375","50,090",115,"2,989","3,242","20,804",71,958,"3,741","38,024",79,"2,319"
7,NaN,Credit - Initial Orientation Services ...,431,"8,639",17,884,"2,953","53,773",52,"3,185","2,159","52,384",35,"3,140",754,"16,571",12,754,"3,539","52,954",64,"3,237","2,824","51,517",47,"3,181","1,910","22,093",23,"1,049","3,304","38,186",54,"2,619"
8,NaN,Credit - Other Services ...,"2,091",NaN,NaN,NaN,"6,123",NaN,NaN,NaN,"6,530",NaN,NaN,NaN,"2,852",NaN,NaN,NaN,"8,576",NaN,NaN,NaN,"7,289",NaN,NaN,NaN,"4,707",NaN,NaN,NaN,"3,703",NaN,NaN,NaN
9,NaN,Non-Credit - Counseling/Advisement Services ...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"25,075",0,0,0,"44,163"

In [5]:
df2.head(10)
df3.head(10)

,Unnamed: 0,Unnamed: 1,Spring 2021,Spring 2021.1,Spring 2021.2,Spring 2021.3,Summer 2021,Summer 2021.1,Summer 2021.2,Summer 2021.3,Fall 2021,Fall 2021.1,Fall 2021.2,Fall 2021.3,Spring 2022,Spring 2022.1,Spring 2022.2,Spring 2022.3,Summer 2022,Summer 2022.1,Summer 2022.2,Summer 2022.3,Fall 2022,Fall 2022.1,Fall 2022.2,Fall 2022.3,Spring 2023,Spring 2023.1,Spring 2023.2,Spring 2023.3,Summer 2023,Summer 2023.1,Summer 2023.2,Summer 2023.3,Fall 2023,Fall 2023.1,Fall 2023.2,Fall 2023.3,Spring 2024,Spring 2024.1,Spring 2024.2,Spring 2024.3,Fall 2024,Fall 2024.1,Fall 2024.2,Fall 2024.3,Spring 2025,Spring 2025.1,Spring 2025.2,Spring 2025.3,Summer 2025,Summer 2025.1,Summer 2025.2,Summer 2025.3
0,NaN,NaN,Directed,Directed,Exempted,Exempted,Directed,Directed,Exempted,Exempted,Directed,Directed,Exempted,Exempted,Directed,Directed,Exempted,Exempted,Directed,Directed,Exempted,Exempted,Directed,Directed,Exempted,Exempted,Directed,Directed,Exempted,Exempted,Directed,Directed,Exempted,Exempted,Directed,Directed,Exempted,Exempted,Directed,Directed,Exempted,Exempted,Directed,Directed,Exempted,Exempted,Directed,Directed,Exempted,Exempted,Directed,Directed,Exempted,Exempted
1,NaN,NaN,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received,Service Received,Service Not Received
2,San Francisco CCD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Credit - Academic/Progress Probation Services ...,61,NaN,NaN,NaN,10,NaN,NaN,NaN,8,NaN,NaN,NaN,2,NaN,NaN,NaN,0,NaN,NaN,NaN,4,NaN,NaN,NaN,14,NaN,NaN,NaN,3,NaN,NaN,NaN,4,NaN,NaN,NaN,9,NaN,NaN,NaN,21,NaN,NaN,NaN,6,NaN,NaN,NaN,0,NaN,NaN,NaN
4,NaN,Credit - Counseling/Advisement Services ...,"6,067","15,997","1,800","7,129","1,695","9,020",515,"3,295","5,454","15,799","1,636","7,514","3,322","16,013","1,227","7,505",245,"8,669",72,"3,146","4,984","15,556","1,690","6,993","2,707","17,353","1,064","7,528",318,"34,454",121,"41,651","5,028","43,157","1,980","46,499","3,343","23,037","1,478","11,721","7,792","30,232","3,402","14,588","4,227","39,738","2,030","12,933",328,"16,625",129,"6,440"
5,NaN,Credit - Education Plan Services ...,"4,379","17,685","1,158","7,771","1,467","9,248",395,"3,415",413,"20,840",110,"9,040",507,"18,828",120,"8,612",7,"8,907",3,"3,215",432,"20,108",104,"8,579",352,"19,708",92,"8,500",25,"34,747",5,"41,767",454,"47,731",176,"48,303",284,"26,096",105,"13,094","3,622","34,402","1,671","16,319",891,"43,074",433,"14,530",18,"16,935",9,"6,560"
6,NaN,Credit - Initial Assessment Services Placement...,"3,663","17,405","1,509","8,416","1,419","8,997",814,"3,295","1,711","18,706","1,107","8,879","2,688","15,944","1,248","8,187","1,670","7,068",789,"2,605","1,516","18,417",755,"8,535","2,349","17,187","1,200","7,916","24,298","9,657","37,604","4,985","3,524","43,515","4,043","45,582","7,216","18,597","5,487","8,279","9,842","27,432","5,651","13,089","23,430","19,965","6,290","9,243","7,856","8,926","3,778","2,962"
7,NaN,Credit - Initial Orientation Services ...,"1,216","19,744",643,"9,390",5,"10,300",1,"4,219","2,063","18,273",791,"9,276","1,115","17,428",493,"9,031",3,"8,664",3,"3,462","1,798","18,025",671,"8,729",851,"18,596",408,"8,797",0,"34,027",1,"42,516","1,946","45,141",840,"48,737",901,"24,870",407,"13,401","2,629","34,636",982,"17,767","1,934","41,432",711,"14,851",0,"16,766",1,"6,755"
8,NaN,Credit - Other Services ...,"5,663",NaN,NaN,NaN,"2,032",NaN,NaN,NaN,"3,886",NaN,NaN,NaN,"1,666",NaN,NaN,NaN,556,NaN,NaN,NaN,"3,659",NaN,NaN,NaN,"1,284",NaN,NaN,NaN,"5,585",NaN,NaN,NaN,"68,342",NaN,NaN,NaN,"1,249",NaN,NaN,NaN,"13,936",NaN,NaN,NaN,"1,951",NaN,NaN,NaN,588,NaN,NaN,NaN
9,NaN,Non-Credit - Counseling/Advisement Services ...,0,5,126,"30,862",0,3,29,"14,493",0,4,10,"30,389",0,4,0,"28,063",0,1,0,"12,131",0,4,0,"29,219",0,3,0,"28,649",0,1,0,"76,543",0,5,0,"96,659",0,1,0,"39,578",0,4,355,"55,655",0,3,25,"58,900",0,1,0,"23,521"

## Drop Metadata Rows

In [6]:
df1_clean = df1.iloc[3:].reset_index(drop=True)
df2_clean = df2.iloc[3:].reset_index(drop=True)
df3_clean = df3.iloc[3:].reset_index(drop=True)

In [7]:
df1_clean.head() #for inspection

,Unnamed: 0,Unnamed: 1,Summer 2014,Summer 2014.1,Summer 2014.2,Summer 2014.3,Fall 2014,Fall 2014.1,Fall 2014.2,Fall 2014.3,Spring 2015,Spring 2015.1,Spring 2015.2,Spring 2015.3,Summer 2015,Summer 2015.1,Summer 2015.2,Summer 2015.3,Fall 2015,Fall 2015.1,Fall 2015.2,Fall 2015.3,Spring 2016,Spring 2016.1,Spring 2016.2,Spring 2016.3,Summer 2016,Summer 2016.1,Summer 2016.2,Summer 2016.3,Fall 2016,Fall 2016.1,Fall 2016.2,Fall 2016.3
0,NaN,Credit - Academic/Progress Probation Services ...,9,NaN,NaN,NaN,16,NaN,NaN,NaN,152,NaN,NaN,NaN,71,NaN,NaN,NaN,176,NaN,NaN,NaN,102,NaN,NaN,NaN,29,NaN,NaN,NaN,12,NaN,NaN,NaN
1,NaN,Credit - Counseling/Advisement Services ...,"1,659","8,312",0,0,"5,973","53,990",0,0,"7,908","49,810",0,0,"3,453","14,638",0,0,"13,047","46,747",0,0,"11,637","45,932",0,0,"5,462","19,613",0,0,"5,348","38,815",0,0
2,NaN,Credit - Education Plan Services ...,"1,534","8,437",0,0,"3,860","56,103",0,0,"6,025","51,693",0,0,"2,787","15,304",0,0,"9,097","50,697",0,0,"8,405","49,164",0,0,"4,623","20,452",0,0,"2,013","42,150",0,0
3,NaN,Credit - Initial Assessment Services Placement...,784,"8,233",49,905,"3,858","52,675",116,"3,314","3,088","51,254",114,"3,262","1,006","16,245",31,809,"4,529","52,121",106,"3,038","4,375","50,090",115,"2,989","3,242","20,804",71,958,"3,741","38,024",79,"2,319"
4,NaN,Credit - Initial Orientation Services ...,431,"8,639",17,884,"2,953","53,773",52,"3,185","2,159","52,384",35,"3,140",754,"16,571",12,754,"3,539","52,954",64,"3,237","2,824","51,517",47,"3,181","1,910","22,093",23,"1,049","3,304","38,186",54,"2,619"

## Rename the Service Column

In [8]:
df1_clean.rename(columns={df1_clean.columns[1]: "service"}, inplace=True)
df2_clean.rename(columns={df2_clean.columns[1]: "service"}, inplace=True)
df3_clean.rename(columns={df3_clean.columns[1]: "service"}, inplace=True)

In [9]:
df1_clean["service"].head()

0    Credit - Academic/Progress Probation Services ...
1    Credit - Counseling/Advisement Services       ...
2    Credit - Education Plan Services              ...
3    Credit - Initial Assessment Services Placement...
4    Credit - Initial Orientation Services         ...
Name: service, dtype: object

## Clean and Simplified Service Names

In [12]:
def clean_service_name(s):
    if pd.isna(s):
        return s
    s = s.lower()
    if "counsel" in s:
        return "counseling"
    if "education plan" in s or "ed plan" in s:
        return "ed_plan"
    if "orientation" in s:
        return "orientation"
    if "assessment" in s:
        return "assessment"
    if "probation" in s:
        return "probation"
    return s.strip()

df1_clean["service"] = df1_clean["service"].apply(clean_service_name)
df2_clean["service"] = df2_clean["service"].apply(clean_service_name)
df3_clean["service"] = df3_clean["service"].apply(clean_service_name)

In [13]:
df1_clean["service"].unique()

array(['probation', 'counseling', 'ed_plan', 'assessment', 'orientation',
       'credit - other services', 'non-credit - other services'],
      dtype=object)

### I will only keep "Service Received" Columns

In [14]:
cols_df1 = [c for c in df1_clean.columns if ".1" in c] 
cols_df2 = [c for c in df2_clean.columns if ".1" in c]
cols_df3 = [c for c in df3_clean.columns if ".1" in c]

df1_received = df1_clean[["service"] + cols_df1]
df2_received = df2_clean[["service"] + cols_df2]
df3_received = df3_clean[["service"] + cols_df3]

In [15]:
df1_received.head()

,service,Summer 2014.1,Fall 2014.1,Spring 2015.1,Summer 2015.1,Fall 2015.1,Spring 2016.1,Summer 2016.1,Fall 2016.1
0,probation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,counseling,"8,312","53,990","49,810","14,638","46,747","45,932","19,613","38,815"
2,ed_plan,"8,437","56,103","51,693","15,304","50,697","49,164","20,452","42,150"
3,assessment,"8,233","52,675","51,254","16,245","52,121","50,090","20,804","38,024"
4,orientation,"8,639","53,773","52,384","16,571","52,954","51,517","22,093","38,186"

### Converting strings

In [18]:
for df in [df1_received, df2_received, df3_received]:
    for c in df.columns:
        if c != "service":
            df.loc[:, c] = (
                df[c]
                .astype(str)
                .str.replace(",", "", regex=False)
                .replace("nan", np.nan)
                .astype(float)
            )

## Reshape Wide  Long Format

In [19]:
df1_long = df1_received.melt(id_vars="service",
                             var_name="term_year",
                             value_name="count")
df2_long = df2_received.melt(id_vars="service",
                             var_name="term_year",
                             value_name="count")
df3_long = df3_received.melt(id_vars="service",
                             var_name="term_year",
                             value_name="count")

In [20]:
df1_long.head()

       service      term_year   count
0    probation  Summer 2014.1     NaN
1   counseling  Summer 2014.1  8312.0
2      ed_plan  Summer 2014.1  8437.0
3   assessment  Summer 2014.1  8233.0
4  orientation  Summer 2014.1  8639.0

## Convert NaN to Zero After Melt

In [21]:
df1_long["count"] = df1_long["count"].fillna(0)
df2_long["count"] = df2_long["count"].fillna(0)
df3_long["count"] = df3_long["count"].fillna(0)

In [22]:
df1_long.head()

       service      term_year   count
0    probation  Summer 2014.1     0.0
1   counseling  Summer 2014.1  8312.0
2      ed_plan  Summer 2014.1  8437.0
3   assessment  Summer 2014.1  8233.0
4  orientation  Summer 2014.1  8639.0

## Extract Term & Year

In [23]:
def split_term_year(s):
    parts = s.split()
    term = parts[0]
    year = parts[1].replace(".1", "")
    return term, int(year)

df1_long[["term", "year"]] = df1_long["term_year"].apply(
    lambda x: pd.Series(split_term_year(x))
)
df2_long[["term", "year"]] = df2_long["term_year"].apply(
    lambda x: pd.Series(split_term_year(x))
)
df3_long[["term", "year"]] = df3_long["term_year"].apply(
    lambda x: pd.Series(split_term_year(x))
)

## Master Dataset

In [24]:
master = pd.concat([df1_long, df2_long, df3_long], ignore_index=True)

master = master[["year", "term", "service", "count"]].dropna()

master.head()

   year    term      service   count
0  2014  Summer    probation     0.0
1  2014  Summer   counseling  8312.0
2  2014  Summer      ed_plan  8437.0
3  2014  Summer   assessment  8233.0
4  2014  Summer  orientation  8639.0

## Final Dataset

In [25]:
master.to_csv("cleaned_student_success_services.csv", index=False)
master.head()

   year    term      service   count
0  2014  Summer    probation     0.0
1  2014  Summer   counseling  8312.0
2  2014  Summer      ed_plan  8437.0
3  2014  Summer   assessment  8233.0
4  2014  Summer  orientation  8639.0

## Data Cleaning & Standardization Pipeline Summary

To prepare the Student Success Services dataset for analysis, I built a multi-step cleaning pipeline that standardizes all DataMart files from 20142025 into a single structured dataset. First, I loaded each CSV and removed the top metadata rows that contained descriptive labels instead of data. Then, I extracted the true service names and standardized them (e.g., Credit  Counseling/Advisement Services  counseling). Because DataMart reports each term using four parallel columns (Directed, Service Received, Exempted, Not Received), I selected only the Service Received columns for analysis and converted student counts from string values (e.g., 8,312) into numeric format. I reshaped each dataset from wide format to long format using melt(), resulting in one row per service per term. After converting blank cells to zero and parsing the term and year from column names, I merged all years into one master dataset with consistent columns: year, term, service, count. This cleaned dataset now supports accurate EDA, visualizations, and modeling across the full 20142025 time period.